body{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0%;
}
#header{
    display: flex;
    margin-top: 7%;
   
}
.header-part{
    
    height: auto;
    margin: auto;
    position: relative;
    padding-left: 5%;
    padding-right: 2%;
     width: 100%;

}
.header-part h1{
    font-size: 375%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    
}
.header-part p{
    font-size: 120%;
}
.text-color{
    color: orange;
}
.header-part img{
 
width: 658.26px;
height: 747.23px;


 
}
.Order{
    text-decoration: none;
    padding: 20px 50px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
        border-radius: 50px
}
.contact-me{
    padding: 20px 50px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
        border-radius: 50px
}
#about{
    display: flex;
    margin-top: 50px;

}
#about{
    background-image: url(
        images/shapes/7.png
    );
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
     left: 30px;
width: 1500px;
height: 600px;
margin-right: 280px;



}
.about-part{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    padding-left: 7%;
    padding-right: 5%;
     width: 50%;
     line-height: 30px;
     
}
.about-part{
    width: 60%;
    
}
.about-part img{
    width: 60%;
    margin-left: 100px;
    margin-top: 60px;
}
.about-part p{
    font-size: 19px;
}
.about-part h1{
    font-size: 350%;
    font-family: 'Montserrat', sans-serif;
}
#my-recipies{
   text-align: center; 
}
.font-size{
    font-size: 300%;
}
.card-container{
    
    width: 90;
    margin-left: 4rem;
    display: flex;
    align-items: center;
   
    flex-wrap: wrap;
    text-align: left;
}
.card{ 
    box-shadow: 2px 3px 20px gray;
    
    margin-left: 15px;
    height: 29rem;

    width: 25%;
    background: #fff;
    padding: 1rem;
    margin: 2rem;
    border-radius: 30px;
    position: static;
    
}
.card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    position: static;
}
#social{
    display: flex;
    text-align: center;
}
.social-media{
width: 1239px;
height: 226px;
margin: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    box-shadow: 2px 3px 15px gray;
    padding: 10px;
    
    border-radius: 20px;
   

}
.social-media h1{
   font-size: 50px;
   line-height: 2%;
}
#footer{
  
    text-align: center;
    width: 110%;
    mask-position: center;
}
.footer-area{
    
    background: #0B0D17;
    background-size: cover;
    padding: 80px;
    color: blanchedalmond;
 align-items: center;
 justify-content: space-between;
    

}
.font-color{
    color: #FB8E48;
}
.button{
  text-decoration: none;
  padding: 20px 50px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
        border-radius: 50px
}

