body{

    font-family: 'Montserrat', sans-serif;

}
#header{
    display: flex;
    margin-top: 7%;
   
}
.header-part{
    
    height: auto;
    margin: auto;
    position: relative;
    padding-left: 5%;
    padding-right: 2%;
     width: 100%;

}
.header-part h1{
    font-size: 387%;
    font-weight: bold;
    color: #575757;

    
}
.header-part p{
    font-size: 140%;
    line-height: 30px;
    opacity: 80%;
}
.text-color{
    color: orange;
}
.header-part img{
 
width: 658.26px;
height: 747.23px;


 
}
.Order{
    text-decoration: none;
    padding: 20px 50px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
        border-radius: 50px
}
.contact-me{
    padding: 20px 50px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
        border-radius: 50px
}
#about{
    display: flex;
    margin-top: 50px;

}
#about{
    background-image: url(
        images/shapes/7.png
    );
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
     left: 30px;
width: 1500px;
height: 600px;
margin-right: 280px;

}
.about-part{
    width: 1400px;
    height: auto;
    margin: auto;
    position: relative;
    padding-left: 7%;
    padding-right: 5%;
     width: 90%;
     line-height: 30px;
     
}
.about-part{
    width: 50%;
    
}
.about-part img{
    width: 60%;
    margin-left: 100px;
    margin-top: 57px;
   
}
.about-part p{
    font-size: 19px;

}
.about-part h1{
    font-size: 300%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #707070;
}
#my-recipies{
   text-align: center; 
}
#my-recipies p{
    line-height: 30px;
    font-size: 20px;
    opacity: 80%;
}

.font-size{
    font-size: 300%;
    color: #676767;
}
.card-container{
    
    width: 90;
    margin-left: 4rem;
    display: flex;
    align-items: center;
   
    flex-wrap: wrap;
    text-align: left;
}

.card{ 
    box-shadow: 2px 3px 20px gray;
    margin-left: 15px;
    height: 33rem;

    width: 25%;
    background: #fff;
    padding: 1rem;
    margin: 2rem;
    border-radius: 30px;
    position: static;
    
    
}
.card h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    position: static;
}
#social{
    display: flex;
    text-align: center;
}
.social-media{
width: 1239px;
height: 226px;
margin: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    box-shadow: 2px 3px 15px gray;
    padding: 23px;
    
    border-radius: 20px;
   

}
.social-media h1{
   font-size: 50px;
   line-height: 2%;
}
footer{
  
    text-align: center;
    width: 100%;
    position: absolute;
    right: -0%;
    
}
.footer-area{
    background: #0B0D17;
    background-size: cover;
    padding: 50px;
    color: blanchedalmond;

 
   line-height: 50px;
   font-size: 20px;
}
.footer-area p{
    font-size: 15px;
    letter-spacing: 1px; 
}
.font-color{
    color: #FB8E48;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
 margin-top: 15%;
 text-decoration: none;
   
 font-size: 20px;
 font-weight: normal;
  
    width: 190px;
    height: 58px;
    color: #fff;
 
    ;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
        border-radius: 50px
}
.button-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
 margin-top: 10%;
 text-decoration: none;
 font-size: 20px;
 font-weight: normal;
 color: #fff;
   
    
  
    width: 190px;
    height: 58px;
    
 
    ;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
        border-radius: 50px
}

